<a href="https://colab.research.google.com/github/AliMRBS/MachineLearning2023/blob/main/Chapter1/HW1-1/HW1_1_9825813_Mirabbasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [ ]:
x = int(input("Enter your age: "))
if x >= 18:
  print("You are an adult.")
else:
  print("You are a minor.")

Enter your age: 14
You are a minor.

Q2

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Q3

In [ ]:
a = 1
sum = 0
while a<=20:
  if a%2 == 0:
    sum += a
  a += 1
print("Sum of even numbers from 1 to 20:", sum)

Sum of even numbers from 1 to 20: 110

Q4

In [ ]:
def multiply(x,y):
  return x*y

Q5

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

Person1 = Person("Ali", 23)
print("name: ",Person1.name)
print("age: ",Person1.age)

name:  Ali
age:  23

Q6

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

class Student(Person):
   def __init__(self, name, age, student_id):
      super().__init__(name, age)
      self.student_id = student_id

Student1 = Student("Ali", 23, 9825813)
print("name: ",Student1.name)
print("age: ",Student1.age)
print("studen id :", Student1.student_id)

name:  Ali
age:  23
studen id : 9825813

Q7

In [ ]:
num = int(input("Enter a number: "))
def is_prime(num):
  if num<= 1:
    return False
  for i in range(2,num+1):
    if num % i == 0:
      return False
    else:
      return True

if is_prime(num):
   print(num, "is a prime number.")
else:
  print(num, "is not a prime number.")

Enter a number: 5
5 is a prime number.

Q8

In [ ]:
num = int(input("Enter a number: "))
def Factorial(x):
  if x == 0:
    return 1
  else:
    return x * Factorial(x-1)
res = Factorial(num)

print("Facrotial of ", num, " is ", res)

Enter a number: 10
Facrotial of  10  is  3628800

Q9

In [ ]:
class Rectangle:
  def __init__(self, width, height):
    self.width = width
    self.height = height
  def calculate_area(self):
    return self.width * self.height


Rectangle1 = Rectangle(3,4)
area = Rectangle1.calculate_area()
print("Perimeter of the square: ", area)

Perimeter of the square:  12

Q10

In [ ]:
class Rectangle:
  def __init__(self, width, height):
    self.width = width
    self.height = height
  def calculate_area(self):
    return self.width * self.height

class square(Rectangle):
  def __init__(self, length):
     super().__init__(length, length)

  def calculate_perimeter(self):
        return 4 * self.height

square1 = square(3)
perimeter = square1.calculate_perimeter()
print("Perimeter of the square:", perimeter)

Perimeter of the square: 12

Q11

In [ ]:
class Animal:
  def __init__(self, name, species):
    self.name = name
    self.species = species

    def speak(self):
      print(f"{self.name} the {self.species} make a sound.")

Q12

In [ ]:

class Dog(Animal):
    def __init__(self, name, breed):
      super().__init__(name, "dog")
      self.breed = breed

    def speak(self):
       print(f"{self.name} the {self.breed} dog says Woof!.")

Q13

In [ ]:

class Cat(Animal):
  def __init__(self, name, species, color):
     super().__init__(name, "cat")
     self.color = color

  def speak(self):
      print(f"{self.name} the {self.species} cat says Meow!.")

Q14

In [ ]:
cat1 = Cat("Adi", "persian", "black")
cat1.speak()
dog1 = Dog("jack", "pitbull",)
dog1.speak()

Adi the cat cat says Meow!.
jack the pitbull dog says Woof!.